@media(max-width:1200px){
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        height: auto;
        /* flex-direction: column; */
        width: 100%;
    }
    .logo{
        width: 15%;
        /* border: 1px solid; */
    }
    .links{
        width: 65%;
    }
    .links ul{
        /* flex-direction: column; */
    }
    .fr{
        margin: 0px;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a{
        line-height: 80px;
        font-size: 25px;
    }

    .icons{
        height: auto;
        width: 20%;
    }
    .desc{
        margin-top: 20px;
        display: block;
    }
}
@media(max-width:720px){
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .links{
        width: 100%;
    }
    .links ul{
        flex-direction: column;
    }
    .fr{
        margin: 0px;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a{
        line-height: normal;
        font-size: 25px;
    }

    .icons{
        height: auto;
        width: 100%;
    }
    .desc{
        display: none;
    }


}
@media(max-width:980px){
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .links{
        width: 100%;
    }
    .links ul{
        flex-direction: column;
    }
    .fr{
        margin: 0px;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a{
        line-height: normal;
        font-size: 25px;
    }

    .icons{
        height: auto;
        width: 100%;
    }
    .desc{
        display: none;
    }
    .aboutcontainer{
        height: auto;
        width: 100%;
    }
    .about{
        width: 100%;
        height: auto;
    }
    .abouutparent{
        width: 100%;
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .abtc1{
        order: 1;
        height: auto;
        width: 50%;
    }
    .abtc1 h1{
        font-size: 35px;
    }
    .abtc1 p{
        font-size: 18px;
    }
    .sign{
        width: 25%;
        height: 100px;
    }
    .abtc2{
        order: 3;
        height: 500px;
        width: 100%;
        background: url('/images/about1.jpg.webp');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }

    .abtc3{
        margin-top: 5px;
        order: 2;
        height: auto;
        width: 50%;
    }
    .abtc3img{
        height: 250px;
    }
    .abtc3 h6{
        font-size: 22px;
    }
    .abtc3 p{
        margin-top: 0px;
        font-size: 22px;
        text-align: justify;
    
    }
    .abtc3 button{
        margin-top: 5px;
        padding: 10px 15px;
        border: none;
        font-size: 18px;
        border: 1px solid black;
        background-color: transparent;
        transition-duration: 2s;
    }.abtc3 button:hover{
        color: white;
        cursor: pointer;
        background-color: black;
    }
    
    

}
@media(max-width:720px){
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .links{
        width: 100%;
    }
    .links ul{
        flex-direction: column;
    }
    .fr{
        margin: 0px;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a{
        line-height: normal;
        font-size: 25px;
    }

    .icons{
        height: auto;
        width: 100%;
    }
    .desc{
        display: none;
    }
    .aboutcontainer{
        height: auto;
        width: 100%;
    }
    .about{
        width: 100%;
        height: auto;
    }
    .abouutparent{
        width: 100%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .abtc1{
        height: auto;
        width: 100%;
    }
    .abtc1 h1{
        font-size: 25px;
    }
    .abtc1 p{
        font-size: 15px;
    }
    .sign{
        width: 20%;
        height: 80px;
    }
    .abtc2{
        height: 300px;
        width: 100%;
        display: block;
    }

    .abtc3{
        height: auto;
        width: 100%;
    }
    .abtc3img{
        height: 150px;
    }
    .abtc3 h6{
        font-size: 22px;
    }
    .abtc3 p{
        margin-top: 0px;
        font-size: 22px;
        text-align: justify;
    
    }
    .abtc3 button{
        margin-top: 2px;
        padding: 5px 5px;
        border: none;
        font-size: 12px;
        border: 1px solid black;
        background-color: transparent;
        transition-duration: 2s;
    }
    

}
@media(max-width:480px){
    .header{
        height: auto;
        width: 100%;
    }
    .menu{
        height: auto;
        flex-direction: column;
        width: 100%;
    }
    .logo{
        width: 100%;
    }
    .links{
        width: 100%;
    }
    .links ul{
        flex-direction: column;
    }
    .fr{
        margin: 0px;
    }
    .links ul li {
        text-align: center;
    }
    .links ul li a{
        line-height: normal;
        font-size: 25px;
    }

    .icons{
        height: auto;
        width: 100%;
    }
    .desc{
        display: none;
    }
    .aboutcontainer{
        height: auto;
        width: 100%;
    }
    .about{
        width: 100%;
        height: auto;
    }
    .abouutparent{
        width: 100%;
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .abtc1{
        height: auto;
        width: 100%;
    }
    .abtc1 h1{
        font-size: 25px;
    }
    .abtc1 p{
        font-size: 15px;
    }
    .sign{
        width: 20%;
        height: 80px;
    }
    .abtc2{
        height: 300px;
        width: 100%;
        display: block;
    }

    .abtc3{
        height: auto;
        width: 100%;
    }
    .abtc3img{
        height: 150px;
    }
    .abtc3 h6{
        font-size: 22px;
    }
    .abtc3 p{
        margin-top: 0px;
        font-size: 22px;
        text-align: justify;
    
    }
    .abtc3 button{
        margin-top: 2px;
        padding: 5px 5px;
        border: none;
        font-size: 12px;
        border: 1px solid black;
        background-color: transparent;
        transition-duration: 2s;
    }
    

}