*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: black;
    height: 80px;
    display: flex;
    /* border: 1px solid; */
}
.logo{
    width: 10%;
    /* border: 1px solid red; */
    height: inherit;
}
.logo h6{
    line-height: 80px;
    font-size: 20px;
    color: #ffb320;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    margin-left: 15px;
}
.menu{
    width: 75%;
    /* border: 1px solid red; */
    height: inherit;

}
.menu ul{
    display: flex;
}
.menu ul li{

    list-style: none;
}
.a{
    margin-left: 150px;
}
.menu ul li a{
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    padding: 0px 25px;
    color: white;
    line-height: 80px;
    text-decoration: none;
}
.menu ul li a:hover
{

    color: #ffb320;
}

.login{
    width: 15%;
    /* border: 1px solid red; */
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login button{
    border: none;
    padding: 10px 20px;
    background-color: #ffb320;
}

.login button:hover{

    cursor: pointer;
}
.gamerevies{
    height: 650px;
    border: 1px solid;
    background: url('/images/THELASTOFUS.jpg');
    background-position: center;
    border-top: 1px solid #ffb320;
    background-size: cover;
    background-repeat: no-repeat;
}
.gamerevies h1{
    margin-top: 150px; 
    font-family: 'Roboto', sans-serif;    font-size: 100px;
    color: white;
    text-align: center;
    
}

.gamerevies p{
    padding: 0px 200px;
    margin-top: 5px;
    color: white;
    font-family: 'MuseoModerno', cursive;
    font-size: 35px;
}
.gamescontainer{
    background-color: #ffffff;
    /* border: 1px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1000px;
}
.gamescontain{
    /* border: 1px solid; */

    height: 900px;
    width: 80%;
}
.gamesparent{
    height: inherit;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.games1{
    width: 45%;
    /* border: 1px solid; */
    height: 440px;
}
.games1img{
    height: 350px;
    /* border: 1px solid; */
    background: url(/images/THELASTOFUS2.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: relative;

}
.games1desc{
    height: 90px;
    /* border: 1px solid; */
}
.games1desc p{
    margin-top: 5px;
    padding: 0px 10px;
    text-align: justify;
    color: gray;
}
.star{

    font-size: 25px;
    text-align: center !important;
}

.games2{
    width: 45%;
    /* border: 1px solid; */
    height: 440px;
}
.games2img{
    height: 350px;
    /* border: 1px solid; */
    background: url(/images/gta.webp);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;
    position: relative;

}
.games2desc{
    height: 90px;
    /* border: 1px solid; */
}

.games2desc p{
    margin-top: 5px;
    padding: 0px 10px;
    text-align: justify;
    color: gray;
}
.star{

    font-size: 25px;
    text-align: center !important;
}

.games3{
    width: 45%;
    /* border: 1px solid; */
    height: 440px;
}
.games3img{
    position: relative;
    height: 350px;
    /* border: 1px solid; */
    background: url(/images/Uncharted-5-.webp);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

}
.games3desc{
    height: 90px;
    /* border: 1px solid; */
}
.games3desc p{
    margin-top: 5px;
    padding: 0px 10px;
    text-align: justify;
    color: gray;
}
.star{

    font-size: 25px;
    text-align: center !important;
}

.games4{
    width: 45%;
    /* border: 1px solid; */
    height: 440px;
}
.games4img{
    position: relative;

    height: 350px;
    /* border: 1px solid; */
    background: url(/images/residentevil.jpg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: cover;

}
.ratus{
    color: white;
    background-color: #ffb320;
    width: 50px;
    position: absolute;
    border-radius: 50%;
    font-size: 25px;
    padding: 10px 8px;
    height: 50px;
    top: -15px;
    left: 15px;
}
.games4desc{
    height: 90px;
    /* border: 1px solid; */
}
.games4desc p{
    margin-top: 5px;
    padding: 0px 10px;
    text-align: justify;
    color: gray;
}
.star{

    font-size: 25px;
    text-align: center !important;
}


.footer{
    height: 250px;
    background-color: black;
    display: flex;
    justify-content: space-around;
}
.links{
height: inherit;
width: 20%;
/* border: 1px solid white; */
}
.links ul li{
    list-style: none;
}
.links ul li a{
    line-height: 50px;
    display: block;
    text-decoration: none;
    color: #eef2f6;
    font-size: 30px;
    text-align: center;
    font-family: 'Roboto', sans-serif;

}
.social{
    height: inherit;
width: 20%;
/* border: 1px solid white; */

}
.social h3{
    color: #ffb320;
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;

}
.social p{
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
}
.insta{
    height: inherit;
    width: 20%;
    /* border: 1px solid white; */

}
.insta h6{
    font-size: 25PX;
    color: white;
    text-align: center;
}
.box{
    margin-top: 4px;
    height: 105px;
    width: 50%;
    float: left;
    /* border: 1px solid white; */
}
.box img{
    width: 100%;
    height: 100%;
}
.gamescontain button{
    border: none;
    border-radius: 5%;
    padding: 10px 30px;
    background-color: #ffb320;
    margin-left: 45%;
    font-size: 18px;
    
}
.gamescontain button:hover{
    cursor: pointer;
}